.game {
  #picking {
    justify-content: center;
    padding-top: 5%;
    margin: 0 auto;
    display: none;
    height: 50vh;
    width: 80%;

    h1 {
      margin-bottom: 15%;
      color: white;
    }

    .pick {
      margin: 0 5% 0;
    }

    div {
      justify-content: space-around;
      flex-direction: column;
      place-content: center;
      place-items: center;
      display: flex;
      height: 15em;
      width: 15em;

      img {
        width: 10em;
      }
    }

    #user,
    #system {
      position: relative;
      border-radius: 50%;
      place-self: center;
      padding: 15%;
    }

    .result {
      justify-content: center;
      flex-direction: column;
      display: none;

      text-align: center;
      font-size: 4em;
      p {
        color: white;
      }
      span {
        background-color: white;
        border-radius: 8px;
        padding: 5%;

        color: $darkText;
        font-size: 0.4em;
      }
    }
  }

  .rounded {
    background-color: white;
    border-radius: 50%;
  }

  .rock {
    background: radial-gradient($rock-top, $rock-bottom);
  }

  .paper {
    background: radial-gradient($paper-top, $paper-bottom);
  }

  .scissors {
    background: radial-gradient($scissors-top, $scissors-bottom);
  }

  .spock {
    background: radial-gradient($spock-top, $spock-bottom);
  }

  .lizard {
    background: radial-gradient($lizard-top, $lizard-bottom);
  }
}
