#instruction {
  display: none;
  justify-content: center;

  position: relative;
  z-index: 100;
  .cover {
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  article {
    position: absolute;
    transform: translateY(-15%);

    display: inline-flex;
    flex-direction: column;

    background-color: white;
    border-radius: 8px;
    padding: 2% 2% 3%;
    div:nth-child(1) {
      display: flex;
      margin: 0 0px;
      h2 {
        font-size: 32px;
      }
      figure {
        display: block;
        margin-top: 10px;
        margin-left: auto;
      }
    }

    figure {
      display: flex;
      place-content: center;

      margin-top: 30px;
    }
  }
}
