@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  overflow-anchor: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: #3b4363;
  padding: 0%;
  margin: 0%;
}

html {
  background: linear-gradient(#1f3756, #141539);
  height: 100vh;
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
  color: #3b4363;
}

hr {
  width: 80%;
  height: 1px;
  border: none;
  margin: 0.8% auto;
  background-color: #606e85;
}

.game {
  display: block;
}
.game #board {
  display: grid;
  grid-template-areas: "rck rck" "ppr sss" "sck lzd";
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.game #board div {
  place-items: center;
  display: grid;
  height: 100px;
  width: 100px;
}
.game #board #rock,
.game #board #paper,
.game #board #scissors,
.game #board #spock,
.game #board #lizard {
  position: relative;
  border-radius: 50%;
  place-self: center;
  padding: 1.8%;
}
.game #board #rock {
  padding: 1.25%;
  grid-area: rck;
}
.game #board #paper {
  top: 0%;
  left: 25%;
  grid-area: ppr;
}
.game #board #scissors {
  top: 0%;
  right: 25%;
  grid-area: sss;
}
.game #board #spock {
  top: 20%;
  left: 35%;
  grid-area: sck;
}
.game #board #lizard {
  top: 20%;
  right: 35%;
  grid-area: lzd;
}
.game #picking {
  justify-content: center;
  padding-top: 5%;
  margin: 0 auto;
  display: none;
  height: 50vh;
  width: 80%;
}
.game #picking h1 {
  margin-bottom: 15%;
  color: white;
}
.game #picking .pick {
  margin: 0 5% 0;
}
.game #picking div {
  justify-content: space-around;
  flex-direction: column;
  place-content: center;
  place-items: center;
  display: flex;
  height: 15em;
  width: 15em;
}
.game #picking div img {
  width: 10em;
}
.game #picking #user,
.game #picking #system {
  position: relative;
  border-radius: 50%;
  place-self: center;
  padding: 15%;
}
.game #picking #result {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 4em;
  color: white;
}
.game #picking #result span {
  background-color: white;
  border-radius: 8px;
  padding: 5%;
  color: #3b4363;
  font-size: 0.4em;
}
.game .rounded {
  background-color: white;
  border-radius: 50%;
}
.game .rock {
  background: radial-gradient(#dc2e4e, #dd405d);
}
.game .paper {
  background: radial-gradient(#4865f4, #5671f5);
}
.game .scissors {
  background: radial-gradient(#ec9e0e, #eca922);
}
.game .spock {
  background: radial-gradient(#40b9ce, #52bed1);
}
.game .lizard {
  background: radial-gradient(#834fe3, #8c5de5);
}

@media (max-width: 850px) {
  .game #board {
    gap: 40px;
    margin-top: 10%;
  }
  .game #board #paper {
    left: 5%;
  }
  .game #board #scissors {
    right: 5%;
  }
  .game #board #spock {
    left: 20%;
  }
  .game #board #lizard {
    right: 20%;
  }
}
.rules {
  position: relative;
}
.rules article {
  position: absolute;
  right: 40px;
  top: -25px;
  padding: 0.8% 3%;
}
.rules article p {
  font-size: 1.15em;
  color: white;
}

@media (max-width: 850px) {
  .rules {
    position: initial;
  }
  .rules article {
    transform: translate(-50%, -50%);
    position: absolute;
    width: inherit;
    top: initial;
    bottom: 5%;
    left: 50%;
    place-content: center;
    width: 20%;
  }
}
.dashboard {
  width: 48%;
  margin: 2% auto;
}
.dashboard article {
  padding: 2.5% 3%;
}
.dashboard .score {
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  background-color: white;
  border: 3px solid white;
  padding: 1% 6%;
}
.dashboard .score p {
  color: #2a46c0;
  font-size: 1.05em;
}
.dashboard .score h2 {
  font-size: 4em;
}

@media (max-width: 850px) {
  .dashboard {
    width: 85%;
  }
}
.container {
  padding: 1.5%;
  display: flex;
  border-radius: 12px;
  border: 3px solid #606e85;
}

/*# sourceMappingURL=main.css.map */
